{% extends 'base.html.twig' %}

{% block title %}who is Rwan!
{% endblock %}

{% block body %}
<main class="container-fluid">
    <section>
        <article>
            <header>
                <h2>Mais qui c'est donc ?</h2>
            </header>
            "<p>Depuis 2006, je travaille comme éclairagiste intermittent dans le spectacle vivant. J'utilise les
                consoles grandMA2, grandMA3, Eos et Chamsys pour créer des ambiances lumineuses adaptées à chaque
                spectacle.</p>

            <p>En 2020, pendant l'arrêt du secteur culturel, j'ai entrepris une formation de développeur web. À 42 ans,
                j'ai obtenu mon diplôme et commencé une nouvelle carrière dans le développement.</p>

            <p>Passionné de jeux de rôle depuis les années 90, j'ai développé des modules pour Foundry VTT. Cette
                expérience m'a permis de créer des modules officiels, sous contrats avec l'éditeur des jeux Rôle'n'Play
                et Torg.</p>

            <p>Je me spécialise maintenant en développement PHP avec le framework Symfony. Cette double expertise en
                éclairage et en code me permet d'apporter des solutions techniques dans ces deux domaines.</p>"

        </article>
    </section>
</main>
{% endblock %}