{% extends 'base.html.twig' %}

{% block title %}Rwanoux hub!
{% endblock %}

{% block body %}
<main class="">
    <section role="grid">
        <table>
            <thead>
                <td>nom</td>
                <td>description</td>
                <td>démo</td>
                <td>répo</td>
            </thead>
            <tbody>
                <tr>
                    <td
                        colspan="4"
                        style="text-align: center"
                    >work in progress</td>
                </tr>
            </tbody>
        </table>
    </section>

</main>
{% endblock %}