{% extends 'base.html.twig' %}


{% block body %}
<main class="container-fluid">

    <div class="main grid">

        <section class="hero">
            <h2>Hub </h2>
            <div class="grid hub">
                <div class="foundry ">
                    <a
                        data-placement="bottom"
                        href="https://rwanoux.freeboxos.fr/foundry"
                        data-tooltip="Foundry Vtt server"
                    ></a>
                </div>
                <div class="nextcloud ">
                    <a
                        data-placement="bottom"
                        href="https://rwanoux.freeboxos.fr/nextcloud"
                        data-tooltip="Nextcloud server"
                    ></a>

                </div>

            </div>
        </section>
    </div>
</main>
{% endblock %}